<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinesh.networkloggerlibrary">
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application>
        <activity
            android:name="com.dinesh.networklogger.NetworkLoggerDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name="com.dinesh.networklogger.RequestDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />


    </application>



</manifest>